.container {
  height: 15%;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input{
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #6F9CEB;
  border-radius: 25px;
  padding: 10px;
}
.input2 {
  width: 70%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
}

.send {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}