.hder-high{
  height: 10%;
}
.msgs-high{
  height: 77%;
}
.inp-container {
  height: 13%;
  width: 100%;
}
.inp-div-high{
  height: 70%;
  width: 90%;
}
.inp {
  width: 70%;
  font-size: 18px;
}

.height-100{
  height: 425px;
}